<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href = "/celebrities/create" /a>Create Celebrities</a>
<a href = "/celebrities" /a>Celebrities</a>

<a href = "/movies/create" /a>Create movies</a>
<a href = "/movies" /a>Movies</a>

