<h2>Movies</h2>

<form action="/movies/create" method="POST">
<label for="">Enter Title</label>
<input type="text" name="title">
<label for="">Enter Genre </label>
<input type="text" name="genre">
<label for="">Enter Plot</label>
<input type="text" name="plot">


<label>Celebrities</label>

<select name="cast" multiple>
    {{#each celebrities}}
        <option value="{{_id}}">{{name}}</option>
    {{/each}}
</select>

<button type="submit">Submit</button>

</form>


